@import '../lib/fonts/iconfont.css';
/*css 初始化 */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px;
}
a,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
label,
legend,
li,
mark,
ol,
p,
section,
span,
strong,
textarea,
time,
ul,
var {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
}
body,
html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  /*在低版本的ie浏览器里面不支持*/
  outline-style: none;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "微软雅黑";
}
input::-webkit-search-cancel-button {
  display: none;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
/*禁止手动修改大小*/
textarea {
  resize: none;
}
/*去掉图片底部默认空白缝隙*/
img {
  display: block;
  border: 0;
  vertical-align: middle;
}
/*合并外连线*/
table {
  /*表格的单元格边框默认是不会重合的，这个属性可以让表格的边框重合在一起，看起来更加细一些*/
  border-collapse: collapse;
}
body {
  color: #666;
  background: #fff;
}
.clearfix {
  *zoom: 1;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
a:active,
a:hover {
  outline: 0;
}
a,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.hide {
  display: none;
}
.col-red {
  color: #F10215 !important;
}
/*css初始化完成*/
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* 网页头部 */
header {
  height: 50px;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
header .logo {
  padding: 12px;
  width: 75%;
}
header .logo a {
  overflow: hidden;
  color: #5a5a5a;
}
header .logo a img {
  max-height: 25px;
  max-width: 186px;
  overflow: hidden;
}
header .appdown {
  padding: 7px;
}
header .appdown a {
  overflow: hidden;
}
header .appdown a img {
  max-height: 34px;
  max-width: 34px;
  overflow: hidden;
}
/* 底部 */
footer {
  padding-top: 10px;
  color: #5a5a5a;
  background: #efefef;
}
footer .foot-top {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  font-size: 0;
}
footer .foot-top a {
  text-align: center;
  font-size: 14px;
  float: left;
  width: 33.333%;
  overflow: hidden;
  border-right: 1px solid #c4c4c4;
}
footer .foot-top a img {
  max-width: 15px;
  max-height: 15px;
}
footer .footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 15px 0;
}
footer .footer div a:nth-child(1) {
  color: red;
}
footer .footer div a {
  display: inline;
}
.auto-loading {
  display: none;
}
.auto-loading img {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.head-top {
  background: #ff841d;
  position: relative;
}
.head-top .left {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 22px;
  color: #fff;
  font-family: '黑体';
  font-weight: bold;
}
.head-top .left a i {
  font-size: 25px;
}
.head-top > h1 {
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.head-top .appdown {
  position: absolute;
  right: 20px;
  top: 5px;
}
.head-top .appdown a img {
  width: 34px;
  height: 34px;
}
.head-top div.left {
  top: 8px;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.container .cu-content {
  padding: 4px 10px;
  background: #FFFFFF;
}
.container .cu-content .title {
  font-size: 18px;
  margin: 10px auto 5px auto;
  font-weight: 800;
  text-align: left;
  text-align-last: left;
  word-break: break-all;
  color: #5a5a5a;
  line-height: normal;
}
.container .cu-content h4 {
  color: #ff6c00;
  display: block;
  font-size: 15px;
}
.container .cu-content .info {
  margin: 12px auto;
  color: #999999;
  font-size: 12px;
}
.container .cu-content .info span {
  color: #999999;
  vertical-align: middle;
}
.container .cu-content .info span.mall {
  margin: 0px 4px;
}
.container .cu-content .info .author {
  margin-right: 4px;
}
.container .cu-content .content .picwrap {
  width: 120px;
  float: right;
  margin: 12px auto auto 10px;
  overflow: hidden;
}
.container .cu-content .content .picwrap img {
  width: 120px;
  height: 120px;
}
.container .cu-content .content .conn {
  font-size: 16px;
  word-break: break-all;
  line-height: 24px;
  color: #606060;
  padding-bottom: 20px;
}
.container .cu-content .content .conn p {
  line-height: 24px;
  color: #606060;
  word-break: break-all;
  margin: 6px auto;
}
.container .cu-content .golink a {
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 20px 10px;
  background: #FF9000;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.container .cu-content-pl {
  background-color: #ffffff;
}
.container .cu-content-pl .tit {
  height: 40px;
  line-height: 40px;
}
.container .cu-content-pl .reply {
  padding: 6px 8px;
  position: relative;
}
.container .cu-content-pl .reply .form {
  border: 2px solid #ECEAE8;
  border-radius: 2px;
  padding: 4px 0 0 4px;
  background-color: #fff;
  position: relative;
  width: 98%;
  margin: 0px auto;
}
.container .cu-content-pl .reply .form textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 22px;
  font-size: 14px;
  outline: 0;
  color: #666;
  height: 68px;
}
.container .cu-content-pl .reply .ctrl {
  background-color: #fbfbfb;
  height: 36px;
  margin-left: -4px;
  border-top: solid 1px #f2f2f2;
}
.container .cu-content-pl .reply input {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #ff841d;
  border: none;
  border: 2px solid #ff841d;
  border-left: none;
  border-top: none;
  padding: 0px;
  width: 100px;
  height: 39px;
  color: #fff;
  outline: 0;
  border-radius: 0 0 2px 0;
  font-size: 16px;
}
.container .cu-content-pl .list .ui-border-b {
  padding: 18px 10px;
  background-color: #FFFFFF;
}
.container .cu-content-pl .list .userimg {
  width: 40px;
  float: left;
  overflow: hidden;
}
.container .cu-content-pl .list .userimg img {
  width: 40px;
  background-position: top;
  border-radius: 20px;
  height: 40px;
}
.container .cu-content-pl .list .con {
  overflow: hidden;
  padding-left: 10px;
}
.container .cu-content-pl .list .con .name {
  margin-bottom: 6px;
  color: #2e8b01;
  font-size: 14px;
}
.container .cu-content-pl .list .con .content {
  word-break: break-all;
  font-size: 15px !important;
  color: #606060;
  line-height: 20px;
}
.container .page_loading {
  margin-top: 15px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 16px;
  /* display: none; */
  background-color: #f8f8f8;
}
.container .page_loading em {
  margin-top: 15px;
  vertical-align: middle;
  margin-right: 4px;
}
.container .page_loading em span {
  display: inline-block;
}
