* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  line-height: 0;
}
img {
  display: block;
  width: 100%;
}
input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 网页头部 */
header {
  height: 50px;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
header .logo {
  padding: 12px;
  width: 75%;
}
header .logo a {
  color: #5a5a5a;
}
header .logo a img {
  max-height: 25px;
  max-width: 186px;
  overflow: hidden;
}
header .appdown {
  padding: 7px;
}
header .appdown a img {
  max-height: 34px;
  max-width: 34px;
  overflow: hidden;
}
/* 搜索框 */
.search {
  border-bottom: 1px solid #e6e6e6;
  height: 50px;
  padding: 10px;
  position: relative;
  background-color: White;
}
.search .search-txt input {
  -webkit-appearance: none;
  border: none;
  background: #f1f1f1;
  margin: 0px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  width: 90%;
  padding-left: 5%;
  font-size: 16px;
}
.search .search-btn input {
  -webkit-appearance: none;
  width: 63px;
  background: #ff841d;
  color: #FFFFFF;
  border: none;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
/* 分类导航 */
.nav-classify {
  padding: 6px 0px;
}
.nav-classify .row {
  margin: 16px 0px;
}
.nav-classify .row .area-item {
  height: 80px;
  float: left;
  width: 25%;
}
.nav-classify .row .area-item a {
  text-align: center;
}
.nav-classify .row .area-item a .pic {
  text-align: center;
}
.nav-classify .row .area-item a .pic img {
  width: 50px;
  margin: 0 auto;
}
/* 超值折扣推荐 */
.discount .d-title {
  height: 35px;
  background-color: #ff9000;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
  border-bottom: solid 1px #ffc881;
  line-height: 35px;
  overflow: hidden;
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  clear: both;
}
.discount .d-title span {
  float: left;
}
.discount .d-title img {
  float: right;
  margin-right: 10px;
  color: #FFF;
  margin-top: 8px;
  max-height: 20px;
  max-width: 20px;
}
/* 折扣商品列表 */
.jxhdc .cu-list ul li {
  border-bottom: 1px solid #e0e0e0;
  padding: 14px 8px;
  position: relative;
}
.jxhdc .cu-list ul li a .pic {
  width: 110px;
  float: left;
}
.jxhdc .cu-list ul li a .pic img {
  width: 100px;
  height: 100px;
}
.jxhdc .cu-list ul li a .info .title {
  color: #333333;
  word-break: break-all;
  font-size: 15px;
  line-height: 19px;
  min-height: 57px;
  text-align: left;
  font-weight: normal;
}
.jxhdc .cu-list ul li a .info .title span {
  color: #ff6c00;
  display: inline;
}
.jxhdc .cu-list ul li a .info .other .mall {
  color: #a1a1a1;
  font-size: 12px;
  float: left;
}
.jxhdc .cu-list ul li a .info .other .comment {
  color: #a1a1a1;
  font-size: 12px;
  float: right;
}
/* 更多优惠信息 */
.more {
  text-align: center;
  width: 100%;
}
.more a {
  color: #5a5a5a;
  line-height: 30px;
  background: #f9f9f9;
  text-decoration: none;
  font-size: 13px;
  margin: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
/* 品牌排行 */
/* 底部 */
footer {
  padding-top: 10px;
  color: #5a5a5a;
  background: #efefef;
}
footer .foot-top {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  font-size: 0;
}
footer .foot-top a {
  text-align: center;
  font-size: 14px;
  float: left;
  width: 33.333%;
  border-right: 1px solid #c4c4c4;
}
footer .foot-top a img {
  max-width: 15px;
  max-height: 15px;
}
footer .footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 15px 0;
}
footer .footer div a:nth-child(1) {
  color: red;
}
footer .footer div a {
  display: inline;
}
