@import '../base.less';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../lib/fonts/fonts/glyphicons-halflings-regular.eot');
  src: url('../../lib/fonts/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../lib/fonts/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../lib/fonts/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../lib/fonts/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
    display: inline-block !important; 
}
// 白菜价头部栏
.backhead{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #ff841d;
    text-align: center;
    color:#fff;
    h1{
        font-size: 20px;
        line-height: 50px;
        font-weight: bold;
        margin: 0;
    }
    .back{
        position: absolute;
        width: 50px;
        height: 30px;
        left:0;
        top:15px;
        font-size: 16px;
        // .glyphicon-menu-left:before {
        //     content: "\e257";
        // }
        a{
            color: white;
        }
    }
    .download{
        position: absolute;
        right:10px;
        top:8px;
        img{
        margin: 0;
        padding: 0; 
        display: inline-block !important;
        width: 34px;
        height: 34px;
        }
    }
}


//主体部分
.nav_list{
    margin: 10px auto;
    width: 300px;
    a{
        font-size: 14px;
        padding: 10px 8px;
        background-color: #f4f4f4;
        border: 1px solid #bfbfbf;
        float: left;
        margin: 0 0 5px 5px;
        color: #000;
    }
}


// 底部首页导航条
.index_nav{
    height: 36px;
    line-height: 36px;
    color: #000;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding-left: 20px;
    a{
        display: inline;
    }
}

// 底部
  .footer{
    overflow: hidden;
    background-color: #f7f7f7;
    .col-xs-4{
      border: 1px solid #d5d5d5;
      border-collapse: collapse;
      text-align: center;
      height: 30px;
      line-height: 30px;
      a{
        color:#000;
        img{
            width:15px;
            margin-bottom: 3px;
        }
      }
    }
    .bottom{
      text-align: center;
      margin-top: 15px;
      font-size: 12px;
      a{
        display: inline;
        color: #f00;
        margin-right: 5px;
      }
      span{
          color: #000;
      }
      div{
        padding-bottom: 15px;
      }
    }
  }